div.card {
  border-radius: 3px;
  border: 3px solid black;
  width: 20em;
  height: 23em;
  margin: 2em;
  padding: 1em;
}

.home-img {
  width: 500px;
  height: 500px;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

